.Radisson-Blu-Hotel{
    height: 500px;
    width: 500px;

}
#Radisson-Blu-Hotel {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
.booking-details {
    margin-left: 4%;
    margin-bottom: 1%;
    margin-right: 4%;

}
#hotel-description-details {
    margin-left: 4%;
    margin-bottom: 1%;
    margin-right: 4%;
    margin-bottom: 2%;

}