.container {
    
    flex-direction: column;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.city-img {
    display: inline;
    max-width: 150px;
     height: 150px;
}

.Social-media-logo {
    display: inline;
   max-width: 22px;
    height: 20px;
}

body {
    margin: 0;
    background-color: #e0e0e0;
}

header{
    background-color: rosybrown;
}

footer{
    background-color: rosybrown;
}

#Search-bar-index {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 360px;
    background-size: cover;
  }

.city-place {

    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    align-items: center;

}
.city-img {
    padding: 4%;
    border-radius: 25%;
}