body {
  font-family: "Ubuntu", sans-serif;
  /* font-family: sans-serif; */
}

.container-div {
  flex-direction: column;
}
.img-place {
  max-width: 150px;
  height: 150px;
}

.search-bar {
  background-image: url("../assests/images/images_places/background-img.jpg");

  background-repeat: no-repeat;
  background-position: center;

  height: 360px;

  background-size: cover;
}

.search {
  /* margin-top: 4rem; */
  height: 2.6rem;
  width: 16rem;
  padding-left: 10px;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 16px;
  border-radius: 12px;
}

.search:focus {
  outline: none;
}

.img-div {
  margin-left: 6%;
  margin-right: 6%;
  justify-content: space-around;
  align-items: center;
  height: 14rem;
}

.img-container {
  /* padding: 4%; */
  border-radius: 15%;
}

.img-place {
  border-radius: 15%;
  box-shadow: gray 10px 10px 10px;
}

.view-more {
  margin-left: 50%;
  transform: translateX(-50%);
}

.places-div {
  position: relative;
}

.overlay {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay:hover {
  opacity: 1;
}
