.hotel-img {
  width: 250px;
  height: 200px;
}

.hotel-link {
  display: inline-block;
}
.hotel-div {
  margin: 2%;
  background-color: rgb(132, 136, 139);
  width: 40vw;
  height: fit-content;
  /* text-align: center; */
  background-color: #ccc;
}

.hotel-link:link {
  width: 100%;
  text-decoration: none;
  color: black !important;
}

.view {
  margin-top: 1rem;
  margin-left: 0.4rem;
  margin-bottom: 1.8rem;
  list-style: none;
  display: flex;
  justify-content: center;
}

.view li a {
  text-decoration: none;

  font-weight: bold;
  display: inline-block;
  margin: 0 1rem;
  color: black;
}

.hotel-div a h4,
.hotel-div a p {
  color: black;
}

#map-view {
  display: none;
}

#list-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-row-gap: 1rem;
  margin-bottom: 6rem;
}

.description {
  padding-left: 1rem;
  padding-top: 1rem;
}

.btn,
.btn:active,
.btn:focus {
  box-shadow: none;
  color: black;
}

.nav {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.map {
  height: 34rem;
}

.hotel-div:hover {
  background-color: #bc8f8f;
}
